<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC4yFSGNqfK8K82kM_vPIon3TQyQUgI_U</string>
	<key>GCM_SENDER_ID</key>
	<string>687385395164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sosatang.NowKorea</string>
	<key>PROJECT_ID</key>
	<string>nowkorea-7712f</string>
	<key>STORAGE_BUCKET</key>
	<string>nowkorea-7712f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687385395164:ios:29f380bca155f9a2a41919</string>
</dict>
</plist>