<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729635008872-d9grignvc0eq3hukimk9m5tkvchacr4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729635008872-d9grignvc0eq3hukimk9m5tkvchacr4c</string>
	<key>API_KEY</key>
	<string>AIzaSyB6hrfsr7HBwvC7zSeq6ZXB3-I5jeDpngM</string>
	<key>GCM_SENDER_ID</key>
	<string>729635008872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.welcomToKorea.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>welcomkorea-c8832</string>
	<key>STORAGE_BUCKET</key>
	<string>welcomkorea-c8832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729635008872:ios:d1cd9a5b10ff9e3166e6dd</string>
</dict>
</plist>